:root{
    --c12: #000;
    --c11: #111;
    --c10: #2e2e2e;
    --c9: #404040;
    --c8: #595959;
    --c7: #717171;
    --c6: #9c9c9c;
    --c5: #b2b2b2;
    --c4: #ccc;
    --c3: #dedede;
    --c2: #ededed;
    --c1: #f7f7f7;
    --w: #fff;
    --p5: #332200;
    --p4: #664400;
    --p3: #a66f00;
    --p2: #e4a30b;
    --p1: #ffbb00;

    --font-1-xxl: calc((600) 64/72);
}

*{
    box-sizing: border-box;
}
body{
    font-family: 'Fira Sans', Arial, sans-serif;
    margin: 0;
    color: #141414;
    padding: 0;
    height: 2000px;
    /* background-color: #f7f7f7; */
}

ul{
    padding: 0px;
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

img{
    max-width: 100%;
    display: block;
}

h1, ul, p{
    margin: 0px;
}