.bicicletas-bg:nth-child(odd){
    background: linear-gradient(to right, #ffffff 30%, #000000 30%);
}

.bicicletas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.bicicletas-imagem{
    height: 100%;
    display: inline-block;
    object-fit: cover;
    position: relative;
}

.bicicletas-imagem span{
    position: absolute;
    display: inline-block;
    top: 20px;
    right: 0px;
    padding: 8px 16px 8px 8px;
    background-color: var(--c12);
    border-radius: 4px 0px 0px 4px;
}

.bicicletas-conteudo{
    display: grid;
    grid-template-columns: 1fr auto;
    align-content: start;
}

.bicicletas-conteudo h2, .bicicletas-conteudo p{
    grid-column: 1/-1;
}

.bicicletas-conteudo h2::before{
    margin-bottom: 20px;
    content: "";
    display: block;
    width: 12px;
    height: 8px;
    background-color: var(--p1);
}

.bicicletas-conteudo p{
    margin-top: 16px;
    margin-bottom: 16px;
}

.bicicletas-conteudo ul{
    display: grid;
    gap: 16px;
}

.bicicletas-conteudo ul li{
    display: flex;
    align-items: center;
    gap: 10px;
}

.bicicletas a{
    place-self: end;
}

.bicicletas-conteudo img{
    width: 24px;
}

@media(max-width:800px){
    .bicicletas-bg:nth-child(odd){
        background: var(--c11);
    }
    .bicicletas{
        grid-template-columns: 1fr;
        gap: 20px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
@media(max-width:600px){
    .bicicletas-conteudo{
        grid-template-columns: 1fr;
    }
    .bicicletas ul{
        margin-bottom: 32px;
        grid-template-columns: 1fr 1fr;
    }
    .bicicletas a{
        place-self: start;
    }
}