.bicicleta{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: start;
    padding-top: 60px;
    padding-bottom: 60px;
}

.bicicleta-imagens{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.bicicleta-imagens img{
    flex: 1;
    min-width: 200px;
}

.bicicleta-imagens img:first-child{
    min-width: 100%;
}

.bicicleta-conteudo > p{
    margin-bottom: 32px;
}

.bicicleta-comprar{
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 32px;
    align-items: center;
    justify-items: start;
    gap: 8px 12px;
}

.bicicleta-comprar .botao{
    grid-row: 1/-1;
}

.bicicleta-comprar span{
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: var(--c12);
    padding: 5px;
    border-radius: 4px;
}

.bicicleta-conteudo h2{
    margin-top: 32px;
    margin-bottom: 16px;
    text-transform: uppercase;
}

.bicicletas-informacoes{
    background-color: var(--c12);
    padding: 32px;
    border-radius: 4px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.bicicletas-informacoes h3{
    margin-bottom: 5px;
}

.bicicleta-ficha{
    background-color: var(--c12);
    padding: 32px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.bicicleta-ficha li{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.bicicleta-ficha li::after{
    content: "";
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: var(--c11);
    position: absolute;
    top: 130%;
}
.bicicleta-ficha li:last-child:after{
    display: none;
}

.bicicleta-bg{
    background-color: var(--c11);
    box-shadow: inset 0px -120px #000000, inset 0px 120px #ffffff;
}

.bicicleta-seguro{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    /* align-items: center; */
}

.bicicleta-seguro-conteudo p{
    margin-top: 32px;
    margin-bottom: 16px;
}

.bicicleta-seguro-conteudo{
    padding-top: 180px;
    padding-bottom: 160px;
}

.bicicleta-imagem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media(max-width:800px){
    .bicicleta{
        grid-template-columns: 1fr;
        padding-top: 16px;
    }

    .bicicleta-imagens{
        grid-row: 2;
    }
    
    .bicicleta-seguro{
        grid-template-columns: 1fr;
        gap: 32px;
        position: relative;
    }
    
    .bicicleta-seguro-conteudo{
        padding-top: 0px;
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 55px;
        gap: 15px;
        padding-left: 40px;
        padding-right: 40px;
        z-index: 9;
    }

    .bicicleta-seguro-conteudo p{
        color: #eee;
        max-width: 50ch;
    }
    .bicicleta-seguro.container{
        max-width: 100%;
        padding: 0;
    }

    .overlay{
        content: "";
        position: absolute;
        width: 100%;
        height: 420px;
        background: linear-gradient(rgb(0, 0, 0), rgba(255, 255, 255, 0));
    }
}

@media(max-width:480px){
    .bicicletas-informacoes{
        grid-template-columns: 1fr;
    }
}

@media(max-width:400px){
    .bicicleta-comprar{
        grid-template-columns: 1fr;
    }
    .bicicleta-seguro-conteudo{
        top: 45px;
    }
}